<br>
<h1 class="animated fadeIn fast"> Página web sobre transporte</h1>
<hr>
<p class="animated fadeIn">
    <small>Hecha como parte de la lección de Tecnologías Web</small>
    </p>
<p class="animated fadeIn">
Camily Bravo, Quinto Semestre
</p>
<h5>Ciudades Recorridas</h5>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Machala</li>
    <li class="list-group-item">Guayaquil</li>
    <li class="list-group-item">Quito</li>
    <li class="list-group-item">Cuenca</li>
    <li class="list-group-item">Loja</li>
    <li class="list-group-item">El Cambio</li>
    <li class="list-group-item">El Guabo</li>
    <li class="list-group-item">Huaquillas</li>
  </ul>
